html {
  font-size: 1vw;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%; /* 防止Safari自动调整字体 */
  text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #fff;
}
/* root.css 全局样式变量 */
:root {
  --footer-bg: #343434;
  --theme-color1: #0f4c81;
  --theme-color2: #343434;
  --theme-banner: rgba(15, 76, 129, 0.8);
}

.more-icon {
  height: 2rem;
}
.more-icon2 {
  height: 0.5rem;
}

/* 扩大点击范围 */
a:has(.more-icon),
a:has(.more-icon2) {
  position: relative;
}
a:has(.more-icon)::after {
  content: "";
  position: absolute;
  top: -3rem;
  left: -2rem;
  bottom: -2rem;
  right: -2rem;
}
a:has(.more-icon2)::after {
  content: "";
  position: absolute;
  top: -2rem;
  left: -2rem;
  bottom: -2rem;
  right: -2rem;
}


@font-face {
    font-family: 'icomoon';
    src: url('/style/fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


/* 动态按钮 */
.home-carousel__cta {
    margin-top: 3rem;
    border-bottom: none;
    color: #FFFFFF;
}

.cta--button {
    color: #fff;
    text-decoration: none;
    line-height: 1;
    display: inline-block;
    border: 0;
    transition: 0.2s ease;
    position: relative;
    padding: 0 15px 0 11px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.cta--button:before {
    content: "";
    position: absolute;
    top: 55%;
    left: 0;
    width: 0.2rem;
    height: 100%;
    background: #F45A2B;
    transform: translateY(-50%);
    transition: 0.2s ease;
}

.cta--button:after {
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e905";
    position: relative;
    font-size: 10px;
    top: -1px;
    transition: 0.2s ease;
    margin-left: 10px;
}

.cta--button:hover {
    padding-left: 19px;
    padding-right: 0;
}

.cta--button:hover:before {
    width: 12px;
}

